<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mail Template</title>
</head>
<body  >
<table width="700dp" height="400dp" background="cid:6.png" style="background-repeat: no-repeat;">
    <tbody>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr height="300dp">
        <td>&nbsp;</td>
    </tr>
    <tr align="center" height="50%">
        <td align="center">
            <a th:href="${text}"><img src="cid:3.png"  width="400dp"  style="padding-left: 50px;"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
